html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
}

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 50px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
    padding-bottom: 20px;
}

section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 800px;
}

#title {
    padding: 0.4rem;
    color: #f5f6f7;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
}

h3 {
    margin-bottom: 5px; 
}

p {
    margin-top: 5px; 
}

.fitclass {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: -10px;
}

.nontitle {
    height: 75px;
    width: 75px;
}

span {
    padding-left: 5px;
}

nav {
    width: 50%;
    max-width: 400px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
}

footer,
footer a {
    color: #dfdfe2;
}

address {
    text-align: center;
    padding: 0.3em;
}

.lnk {
    text-decoration: none;
    color: #1b1b32;
}

.lnk:hover {
    cursor: pointer;
    color: #f5f6f7;
    background-color: #1b1b32;
}
